@import url('./src//components/header/header.scss');
@import url('./src//components/footer/footer.scss');

/* Webfont: Luciole-Regular */
@font-face {
  font-family: 'Luciole';
  src: url('./src/assets/fonts/Luciole/Luciole-Regular/Luciole-Regular.eot'); /* IE9 Compat Modes */
  src: url('./src/assets/fonts/Luciole/Luciole-Regular/Luciole-Regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('./src/assets/fonts/Luciole/Luciole-Regular/Luciole-Regular.woff')
      format('woff'),
    /* Modern Browsers */
      url('./src/assets/fonts/Luciole/Luciole-Regular/Luciole-Regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./src/assets/fonts/Luciole/Luciole-Regular/Luciole-Regular.svg#Luciole-Regular')
      format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Luciole';
  src: url('./src/assets/fonts/Luciole/Luciole-Bold/Luciole-Bold.eot'); /* IE9 Compat Modes */
  src: url('./src/assets/fonts/Luciole/Luciole-Bold/Luciole-Bold.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('./src/assets/fonts/Luciole/Luciole-Bold/Luciole-Bold.woff')
      format('woff'),
    /* Modern Browsers */
      url('./src/assets/fonts/Luciole/Luciole-Bold/Luciole-Bold.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./src/assets/fonts/Luciole/Luciole-Bold/Luciole-Bold.svg#Luciole-Bold')
      format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Luciole';
  src: url('./src/assets/fonts/Luciole/Luciole-Italic/Luciole-Italic.eot'); /* IE9 Compat Modes */
  src: url('./src/assets/fonts/Luciole/Luciole-Italic/Luciole-Italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('./src/assets/fonts/Luciole/Luciole-Italic/Luciole-Italic.woff')
      format('woff'),
    /* Modern Browsers */
      url('./src/assets/fonts/Luciole/Luciole-Italic/Luciole-Italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./src/assets/fonts/Luciole/Luciole-Italic/Luciole-Italic.svg#Luciole-Italic')
      format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Luciole';
  src: url('./src/assets/fonts/Luciole/Luciole-BoldItalic/Luciole-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('./src/assets/fonts/Luciole/Luciole-BoldItalic/Luciole-BoldItalic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('./src/assets/fonts/Luciole/Luciole-BoldItalic/Luciole-BoldItalic.woff')
      format('woff'),
    /* Modern Browsers */
      url('./src/assets/fonts/Luciole/Luciole-BoldItalic/Luciole-BoldItalic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('./src/assets/fonts/Luciole/Luciole-BoldItalic/Luciole-BoldItalic.svg#Luciole-BoldItalic')
      format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: 700;
}

:root {
  --main-family: 'Luciole', Helvetica, Arial, sans-serif;
  --color-white: #fafafa;
}

:root,
[data-selected-theme='dark'] {
  --bg-color: #222;

  /* --color: #323232;
  --color-primary: #0000c8;
  --color-secondary: #960000;
  --color-red: #ff0000;
  --color-green: #00ff00;*/

  --color: #fafafa;
  --color-primary: #89c4f4;
  --color-secondary: #f29292;
  --color-red: #ff3b3b;
  --color-green: #199e11;
}

[data-selected-theme='light'] {
  --bg-color: #fafafa;

  /* --color: #c8c8c8;
  --color-primary: #00ff00;
  --color-secondary: #ff0000;
  --color-red:#FF0000;
   --color-green: #00ff00;
  */
  --color: #333329;
  --color-primary: #2653a6;
  --color-secondary: #d33b3b;
  --color-red: #d33b3b;
  --color-green: #1c8615;
}

html {
  font-family: var(--main-family);
  background-color: var(--bg-color);
  color: var(--color);
  min-height: 100vh;
}

html,
body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  font-size: 20px;
}

* {
  outline: none;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;

  /* fallback height */
  min-height: 100vh;

  /* new small viewport height for modern browsers */
  min-height: 100svh;
}

.content {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 5em;

  @media screen and (max-width: 1200px) {
    padding: 0 1em;
  }
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

h1 {
  font-size: 2.5em;
  color: var(--color);
}

h2 {
  font-size: 2em;
  text-align: center;
  color: var(--color-primary);
}

.question {
  font-size: 1.8;
  border: 0.1em solid var(--color);
  border-radius: 2em;
  padding: 1em;
  text-align: center;
  margin: 3em 0;
}

p,
li {
  line-height: 1.5;
}

ul {
  li {
    margin-bottom: 1em;
  }
}

code {
  border: 0.1em solid var(--color);
  padding: 0 0.25em;
}

button {
  background-color: var(--bg-color);
  border: 0.1rem solid var(--color-primary);
  color: var(--color-primary);
  cursor: pointer;
  width: 10em;
  padding: 0.5em 1em;
  display: flex;
  margin: 0;
  justify-content: center;
  font-family: var(--main-family);
  font-size: 1em;

  //&:focus-visible,
  &:hover {
    color: var(--bg-color);
    background-color: var(--color-primary);
    border-color: var(--color-primary);
  }
}

a {
  color: var(--color-primary);
  text-decoration: underline;
  cursor: pointer;

  //&:focus-visible,
  &:hover {
    text-decoration-thickness: 0.2em;
    text-decoration-line: underline;
    text-decoration-style: unset;
    text-underline-offset: 0.5em;
    text-decoration-color: var(--color-primary);
  }
}

li {
  line-height: 1.5;
  margin-bottom: 0.5em;
}

.text {
  &-center {
    text-align: center;
  }
}

.font {
  &-bold {
    font-weight: bold;
  }
}

.mt {
  &-2 {
    margin-top: 2em;
  }
  &-3 {
    margin-top: 3em;
  }
}

fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
  border: none;

  legend {
    margin-bottom: 2em;
  }
}

.astuce,
.remarque {
  display: flex;
  flex-direction: row;

  .light,
  .danger {
    text-align: left;
    align-content: center;
    margin-right: 2em;
  }

  .fa-lightbulb {
    font-size: 2em;
    color: var(--color-secondary);
  }

  .fa-triangle-exclamation {
    font-size: 2em;
    color: var(--color-red);
  }
}

.cas-pratique-3 {
  .images {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 699px) {
      flex-direction: column;
    }

    &.hidden {
      left: -9999px;
      position: absolute;
    }

    .image {
      margin: auto;
      width: 50%;
      flex: 50%;
      padding: 1em;

      @media screen and (max-width: 699px) {
        width: 90%;
        flex: 90%;
      }

      img {
        width: 100%;
      }
    }
  }

  .actions {
    button {
      width: 15em;
      margin: 1em auto;

      p {
        margin: 0;
      }
    }
  }
}

.cas-pratique-4 {
  .form {
    margin-top: 5em;
    display: flex;
    margin-bottom: 2em;
    justify-content: center;

    label {
      margin-bottom: 0.5em;
    }

    textarea,
    input {
      border: 0.1em solid var(--color);

      &.valid {
        border: 0.25em solid var(--color-green);
      }

      &.invalid {
        border: 0.25em solid var(--color-red);
      }
    }
  }

  .group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

    input,
    textarea {
      max-width: 40em;
      padding: 0.5em;
    }
  }
}

.cas-pratique-5 {
  .buttons {
    display: flex;

    @media screen and (max-width: 699px) {
      flex-direction: column;
      justify-self: center;
    }

    button {
      margin: 0 0.5em;
      border-radius: 0.5em;

      @media screen and (max-width: 699px) {
        margin-left: 0;
        margin-bottom: 0.5em;
      }

      &:first-child {
        margin-left: 0;
      }
    }

    i {
      font-size: 2em;
    }
  }

  .astuce {
    margin-top: 3em;
  }
}

.cas-pratique-6 {
  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2em;

    .card {
      width: 33%;
      flex: 33%;

      display: flex;
      justify-content: space-between;
      flex-direction: column;

      @media screen and (max-width: 1199px) {
        width: 100%;
        flex: 100%;
        margin-bottom: 2em;
      }

      &-body {
        padding: 1em;
      }

      &-footer {
        display: flex;
        justify-content: center;
        align-items: flex-end;
      }

      a {
        text-decoration: none;
        border: 0.1em solid var(--color-primary);
        border-radius: 0.5em;
        padding: 1em;

        //&:focus-visible,
        &:hover {
          background-color: var(--color-primary);
          color: var(--bg-color);
        }
      }
    }
  }
}

.a-propos {
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    @media screen and (max-width: 699px) {
      flex-direction: column;
    }
  }

  .avatar {
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    object-fit: cover;

    @media screen and (max-width: 699px) {
      width: 15rem;
      height: 15rem;
    }
  }

  .reseaux-sociaux {
    ul {
      list-style: none;
      display: flex;
      margin: auto;
      padding: 0;
      flex-direction: column;

      li {
        margin-bottom: 1em;

        i {
          vertical-align: middle;
          font-size: 1.5em;
          color: var(--color-primary);
          width: 1.5em;
          text-align: center;

          &.fa-link {
            font-size: 1.8em;
          }
        }
      }
    }
  }

  .logo-shodo {
    display: flex;
    align-items: center;

    .logo {
      margin: 0;

      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .wrap-shodo {
      padding: 0.5em 1em;
      background-color: var(--color-red);
    }

    .wrap-logo {
      background-color: var(--color-red);
      color: var(--bg-color);
      text-align: center;
    }

    p {
      color: var(--color-white);
      margin: 0;
    }

    .brand {
      text-transform: uppercase;
      width: 9em;
      padding-left: 1em;
    }
  }
}

.faq {
  &-reponse {
    border: 0.1em solid var(--color);
    padding: 2em;
  }
}
