<footer role="contentinfo" class="footer">
  <div class="row">
    <div class="col left">
      <p>© 2025 - Site de développement conçu par Emmanuelle ABOAF</p>
      <p>
        <a
          href="https://github.com/emma11y/tester-a11y/"
          class="button"
          title="Sources sur GitHub"
        >
          <i class="fa-brands fa-github" aria-hidden="true"></i>
        </a>
      </p>
    </div>
    <div class="col right">
      <div class="logo-shodo">
        <img
          class="shodo-white"
          alt="SHODO"
          src="src/assets/img/logo-shodo.svg"
        />
        <img
          class="shodo-black"
          alt="SHODO"
          src="src/assets/img/logo-shodo-black.svg"
        />
        <p>SHODO</p>
      </div>
    </div>
  </div>
</footer>
